body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.dark-theme {
    background-color: #76e3b7;
    color: #e81010;
}

.light-theme {
    background-color: #0fa37c;
    color: #000;
}
